<html class="gr__127_0_0_1">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="Компанія Droppity займається розробкою та впровадженням системам автоматичного догляду за рослинами для дому та бізнесу. Та представляє Droppity Drop Home - система інтелектуального поливу рослин для вашого дому">
  <meta name="author" content="Droppity.co">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-73618927-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-73618927-3');
  </script>

  <title>Droppity Drop Home - система інтелектуального поливу рослин для вашого дому</title>
  <!-- Favicon -->
  <link href="../assets/img/brand/favicon.png" rel="icon" type="image/png">
  <style>
    @media print {
      #ghostery-purple-box {
        display: none !important
      }
    }
  </style>
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="../assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="../assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="../assets/css/argon.css?v=1.0.1" rel="stylesheet">
  <!-- Docs CSS -->
  <link type="text/css" href="../assets/css/docs.min.css" rel="stylesheet">
  <style>
    @media print {
      #ghostery-purple-box {
        display: none !important
      }
    }
  </style>
  <style>
    @media print {
      #ghostery-purple-box {
        display: none !important
      }
    }
  </style>
  <style>
    @media print {
      #ghostery-purple-box {
        display: none !important
      }
    }
  </style>
  <style>
    @media print {
      #ghostery-purple-box {
        display: none !important
      }
    }
  </style>
  <style>
    @media print {
      #ghostery-purple-box {
        display: none !important
      }
    }
  </style>
  <style>
    @media print {
      #ghostery-purple-box {
        display: none !important
      }
    }
  </style>
  <style>
    @media print {
      #ghostery-purple-box {
        display: none !important
      }
    }
  </style>
  <style>
    @media print {
      #ghostery-purple-box {
        display: none !important
      }
    }
  </style>
  <style>
    @media print {
      #ghostery-purple-box {
        display: none !important
      }
    }
  </style>
  <style>
    @media print {
      #ghostery-purple-box {
        display: none !important
      }
    }
  </style>
  <style>
    @media print {
      #ghostery-purple-box {
        display: none !important
      }
    }
  </style>
  <style>
    @media print {
      #ghostery-purple-box {
        display: none !important
      }
    }
  </style>
  <style>
    @media print {
      #ghostery-purple-box {
        display: none !important
      }
    }
  </style>
</head>

<body data-gr-c-s-loaded="true">
  <header class="header-global">
    <nav id="navbar-main"
      class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--not-bottom headroom--top headroom--pinned">
      <div class="container">
        <a class="navbar-brand mr-lg-5" href="../index.html">
          <img src="../assets/img/brand/white.png">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar_global"
          aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar_global" style="">
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="../index.html">
                  <img src="../assets/img/brand/blue.png">
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler collapsed" data-toggle="collapse"
                  data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>

          <ul class="navbar-nav align-items-lg-center ml-lg-auto">
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="https://www.facebook.com/droppity" target="_blank"
                data-toggle="tooltip" title="" data-original-title="Наша сторінка у Facebook">
                <i class="fa fa-facebook-square"></i>
                <span class="nav-link-inner--text d-lg-none">Facebook</span>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link nav-link-icon" href="https://www.instagram.com/creativetimofficial" target="_blank" data-toggle="tooltip" title="" data-original-title="Follow us on Instagram">
                <i class="fa fa-instagram"></i>
                <span class="nav-link-inner--text d-lg-none">Instagram</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="https://twitter.com/creativetim" target="_blank" data-toggle="tooltip" title="" data-original-title="Follow us on Twitter">
                <i class="fa fa-twitter-square"></i>
                <span class="nav-link-inner--text d-lg-none">Twitter</span>
              </a>
            </li>
            -->
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="https://github.com/droppity" target="_blank" data-toggle="tooltip"
                title="" data-original-title="Слідкувати за нами Github">
                <i class="fa fa-github"></i>
                <span class="nav-link-inner--text d-lg-none">Github</span>
              </a>
            </li>
            <li class="nav-item d-none d-lg-block ml-lg-4">
              <a href="http://bit.ly/2U4MnQ8" target="_blank" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon">
                  <i class="ni ni-cart mr-2"></i>
                </span>
                <span class="nav-link-inner--text">Замовити BETA девайс</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped">
        <div class="shape shape-style-1 shape-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-6">
                <p class="lead  text-white">Компанія <b>Droppity</b> займається розробкою та впровадженням систем
                  автоматичного догляду за рослинами для дому та бізнесу. Та представляє</p>
                <h1 class="display-3  text-white">Droppity Drop Home<span>система інтелектуального поливу рослин для
                    вашого дому
                  </span>
                </h1>
                <div class="btn-wrapper">
                  <a href="http://bit.ly/2U4MnQ8" class="btn btn-info btn-icon mb-3 mb-sm-0">
                    <span class="btn-inner--icon"><i class="ni ni-cart"></i></span>
                    <span class="btn-inner--text">Замовити Beta</span>
                  </a>
                  <a href="http://bit.ly/2P225uw" class="btn btn-white btn-icon mb-3 mb-sm-0">
                    <span class="btn-inner--icon"><i class="ni ni-email-83"></i></span>
                    <span class="btn-inner--text">Підписатись на новини</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container mt--300">
          <div>
            <li class="lead text-white mt-3 mb"><b>Вирушаєте у відпустку і важко знайти того, хто догляне за квітами?</b>
              <br>
              <b>Droppity Drop Home</b> дозволяє поливати квіти з будь-якого місця, де є доступ до мережі Інтернет. Також
              можливий варіант налаштування автоматичного поливу.</li>
            <br>
            <li class="lead text-white mt-3"><b>Любите, щоб y домі було зелено і багато квітів, але постійно забуваєте їх
                поливати?</b>
              <br>
              <b>Droppity Drop Home</b> має цілу купу датчиків, котрі підкажуть коли ґрунт вже висох. А при увімкненому
              автоматичного режиму ще й сам увімкне полив. Постійний зв’язок з метеосервером дозволяє коригувати норми
              поливу з урахуванням погоди на сьогодні.
            </li>
            <br>
            <li class="lead text-white mt-3"><b>Набридло витирати підвіконня від перелитої у горщик води?</b>
              <br>
              <b>Droppity Drop Home</b> використовує систему крапельного поливу, що значно зменшує шанс на те що вода
              витече з горщика на підвіконня.
            </li>
            <br>
            <li class="lead text-white mt-3"><b>У вас багато горщиків на підвіконні?</b>
              <br>
              Не проблема, <b>Droppity Drop Home</b> дозволяє підключити до 20 рослин на одну систему. Один пристрій розрахований на одне підвіконня.
            </li>
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>

    </div>

    <section class="section section-lg">
      <div class="container">
        <div class="row row-grid align-items-center">
          <div class="col-md-6 order-md-2">
            <img src="../assets/img/theme/promo-1.png" class="img-fluid floating">
          </div>
          <div class="col-md-6 order-md-1">
            <div class="pr-md-5">
              <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
                <i class="ni ni-settings-gear-65"></i>
              </div>
              <h3>Віддалене керування</h3>
              <p>Завдяки мобільним застосункам під iOS та Android та постійному з'єднанню <b>Droppity Drop Home</b> з
                Інтернетом, ви завжди можете дізнатись у якому стані ваші рослини.</p>
              <ul class="list-unstyled mt-5">
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-settings-gear-65"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-0">Управління режимом поливу</h6>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-0">Моніторинг та аналіз стану навколишнього середовища та ґрунту</h6>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-satisfied"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-0">Рекомендації щодо створення умов сприятливих для росту
                        рослин</h6>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section bg-secondary">
      <div class="container">
        <div class="row row-grid justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="display-3">Все ще сумніваєтесь?<span class="text-success">MoneyBack 14 днів + 1 рік підтримки та
                гарантії.</span>
            </h2>
            <p class="lead">Замов Open Beta версію <b>Droppity Drop Home</b> у інженерному корпусі за демпінговою ціною
              <i>39 USD ≈ 1049 UAH </i> (по собівартості компонентів) і отримай:</p>
            <p class="lead"></p>
            <li style="text-align:left" class="lead">ранній доступ до продукту <p></p>
            </li>
            <p class="lead"></p>
            <li style="text-align:left" class="lead"> можливість вплинути на подальший розвиток системи<p></p>
            </li>
            <p class="lead"></p>
            <li style="text-align:left" class="lead">обмін на фінальну версію продукту у “фенсі” корпусі, доплативши
              лише різницю в ціні<p></p>
            </li>
            <p></p>
            <div class="btn-wrapper">
              <a href="http://bit.ly/2U4MnQ8" class="btn btn-primary mb-3 mb-sm-0">
                <span class="btn-inner--icon"><i class="ni ni-cart mr-2"></i></span>
                <span class="btn-inner--text"> Замовити Beta Девайс</span></a>
            </div>

          </div>
        </div>
    </section>
  </main>
  <footer class="footer">

    <div class="container">


      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright">
            © 2019
            <a href="https://droppity.co" target="_blank">Droppity</a>.
          </div>
        </div>

      </div>
    </div>
  </footer>
  <!-- Core -->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/popper/popper.min.js"></script>
  <script src="../assets/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="../assets/vendor/headroom/headroom.min.js"></script>
  <!-- Argon JS -->
  <script src="../assets/js/argon.js?v=1.0.1"></script>


</body>

</html>